.left {
  /* background-color: orange; */
  height: 90vh;
  width: 50vw;
}

.welcome {
  background-color: white;
  height: 25vh;
  margin: 0 auto;
  width: 70%;
}

.welcome h1 {
  font-size: 3vw;
}

.time-date {
  background-color: pink;
  height: 35vh;
  margin: 0 auto;
  padding: 1.25em;
  width: 70%;
}

.time {
  font-size: 3.45vw;
}

.date {
  font-size: 2vw;
}
