.right {
  background-color: turquoise;
  width: 45vw;
}

.cal {
  background-color: yellow;
}

.weather {
  background-color: purple;
}

.cal, .weather {
  height: 25vh;
  margin: 0 auto;
  width: 85%;  
}
